/* Root definitions for color themes */
:root {
    --body_bkgr_color: #fcffff;
    --header_bkgr_color: #e3f3fb;
    --submenu_bkgr_color: #fcffff;
    --footer_bkgr_color: #e3f3fb;
    --border_color: #cccccc;
    --nav_text_color: #2f322a;
    --body_text_color: #000000;
    --body_link_color: #010e45;
    --body_link_hover_color: #059BD8;
    --button_bkgr_color: #1C5E82;
    --button_hover_bkgr_color: #059BD8;
    --button_text_color: #FFFFFF;
}

/* Universal base styles */
*, *:before, *:after {
    box-sizing: border-box; /* Ensures padding and borders are included in the width */
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: var(--body_bkgr_color);
    color: var(--body_text_color);
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent overall page scrolling */
    min-width: 760px; /* Prevent window from resizing below 760px = no collision between navbar and logo */
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Header styles */
#header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    padding: 10px 0;
    border-bottom: 1px solid var(--border_color);
    position: relative; /* To use absolute positioning for centering */
}

#header .logo {
    max-height: 20px; /* Adjust as needed */
    margin-left: 20px;
    margin-right: 20px;
    position: absolute; /* Position the logo absolutely */
    left: 20px; /* Adjust as needed */
}

/* Navigation styles */
#topnav {
    font-size: 13px;
    background-color: #FFFFFF;
    text-align: center;
}

#topnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center the navigation items */
}

#topnav ul li {
    position: relative;
}

#topnav ul li a {
    padding: 10px 20px;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    color: var(--nav_text_color);
    text-decoration: none; /* Remove default underline */
    position: relative;
    line-height: 2.0; /* Adjust line-height for proper alignment */
}

#topnav ul li a .text {
    display: inline-block;
    position: relative;
}

#topnav ul li:hover > a {
    color: var(--body_link_hover_color);
}

#topnav ul li a .text::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0px; /* Position underline just below the text */
    left: 0;
    background: var(--body_link_hover_color);
    transition: width 0.5s ease;
}

#topnav ul li:hover .text::after {
    width: 100%;
}

#topnav ul.dropdown {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    border-radius: 8px;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    transform: translateY(-10px);
    z-index: 1000; /* Ensure dropdown is above other content */
}

#topnav ul li:hover > ul.dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

#topnav ul.dropdown li {
    float: none;
    width: 180px;
}

#topnav ul.dropdown li a {
    padding: 10px 15px;
    width: 100%; /* Full width */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    color: var(--nav_text_color); /* Ensure dropdown items inherit the correct color */
    text-decoration: none; /* Remove default underline */
    position: relative;
    border-radius: 8px; /* Ensure border-radius on hover */
}

#topnav ul.dropdown li a:hover {
    background-color: var(--submenu_bkgr_color);
}

#topnav ul.dropdown li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0px; /* No underline effect for dropdown items */
    bottom: 0; /* Position underline at the bottom */
    left: 0;
    background: var(--body_link_hover_color);
    transition: width 0.5s ease;
}

#topnav ul.dropdown li:hover > a {
    color: var(--body_link_hover_color);
}

#topnav ul.dropdown li:hover a::after {
    width: 100%;
}

/* Angle icon styles */
.angle {
    display: inline-block;
    width: 24px; /* Adjust icon size */
    height: 24px; /* Adjust icon size */
    margin-left: 4px;
    background: url('assets/angle-down.png') no-repeat center;
    background-size: contain;
    transition: transform 0.5s ease;
}

#topnav ul li:hover > a .angle {
    transform: rotate(180deg);
}

/* Intro section with adjusted padding */
#intro {
    background-color: #dedede;
    padding: 0; /* Remove padding here if it affects the width */
}

#intro .fl {
    padding: 3%; /* Use percentage for fluid padding */
    color: #000000;
}

#intro .fl h2 {
    font-size: 2em;
}

#intro .fl p {
    line-height: 2.6em;
}

#intro .fl p.readmore a {
    padding: 4px 18px;
    font-size: 14px;
    background: linear-gradient(45deg, #1C5E82, #059BD8);
    color: var(--button_text_color);
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s, box-shadow 0.3s;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#intro .fl p.readmore a:hover {
    background: linear-gradient(45deg, #059BD8, #1C5E82);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

/* Content layout */
#content {
    display: flex;
    flex: 1; /* Take remaining space */
    width: 100%;
    height: calc(94vh - 0px); /* Adjust according to header/footer height */
}

#sidebar-icon-container {
    width: 50px; /* Fixed width for the icon container */
    background-color: #ffffff; /* Background color for the icon container */
    border-right: 1px solid var(--border_color); /* Border to separate icon container from sidebar */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; /* Add some padding for better alignment */
    position: relative; /* Relative positioning for the active line */
}

.list-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 20px; /* Add some space between icons */
}

.table-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 10px; /* Add some space between icons */
}

.list-vertical-line {
    position: absolute;
    left: 0; /* Align to the left of the icon container */
    top: 0px; /* Align with the top padding of the icon container */
    height: 40px; /* Fixed height */
    width: 2px;
    background-color: #0080F9; /* Color of the vertical line */
    display: none; /* Hide by default */
    z-index: 0; /* Ensure vertical line is behind the icon */
}

#sidebar-icon-container.active .list-vertical-line {
    display: block; /* Show when the icon container is active */
}

.table-vertical-line {
    position: absolute;
    left: 0; /* Align to the left of the icon container */
    top: 40px; /* Align with the top padding of the icon container */
    height: 40px; /* Fixed height */
    width: 2px;
    background-color: #0080F9; /* Color of the vertical line */
    display: none; /* Hide by default */
    z-index: 0; /* Ensure vertical line is behind the icon */
}

#sidebar-icon-container.active .table-vertical-line {
    display: block; /* Show when the icon container is active */
}

#sidebar {
    width: 250px; /* Initial width of the sidebar */
    padding: 20px;
    border-right: 1px solid var(--border_color);
    height: 100%;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

#sidebar.collapsed {
    width: 0;
    padding: 0;
    border-right: none; /* Remove border when collapsed */
}

#main-content {
    flex-grow: 1;
    padding: 0 20px 20px 20px;
    overflow: hidden; /* Prevent overflow */
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease; /* Smooth transition for main content */
}

#sidebar.collapsed + #main-content {
    width: calc(100% - 50px); /* Adjust width when sidebar is collapsed */
}

#sidebar-icon-container + #sidebar + #main-content {
    width: calc(100% - 300px); /* Adjust width when sidebar is open */
}



#search-info {
    padding: 20px;
}

#search-info h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: var(--nav_text_color);
}

.collapsible {
    margin-bottom: 10px;
}

.collapsible-btn {
    background-color: var(--button_bkgr_color);
    color: var(--button_text_color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.collapsible-btn:hover {
    background-color: var(--button_hover_bkgr_color);
}

.collapsible-content {
    padding: 0 20px;
    display: none;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}

.collapsible-content form {
    margin: 10px 0;
}

fieldset {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--border_color);
    border-radius: 5px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

.update-display-btn {
    background-color: var(--button_bkgr_color);
    color: var(--button_text_color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.update-display-btn:hover {
    background-color: var(--button_hover_bkgr_color);
}

.search-parameter {
    padding: 10px 0;
}

.search-parameter p {
    margin: 5px 0;
}

/* Table container */
.table-container {
    flex-grow: 1; /* Take remaining space */
    width: 100%;
    overflow: auto; /* Make the table scrollable */
    padding: 1%; /* Use percentage for fluid padding */
    text-align: center;
}

.table-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: var(--nav_text_color);
    text-align: left; /* Align title to the left */
}

#scrollableTable {
    height: 100%; /* Use the full height available */
    overflow-x: auto;
    overflow-y: auto; /* Enable scrolling */
    transition: all 0.3s ease; /* Smooth transition for aesthetic purposes */
}

#scrollableTable table {
    width: 100%;
    border-collapse: collapse;
}

#scrollableTable th, #scrollableTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#scrollableTable th {
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
    z-index: 10;
}

#scrollableTable th:hover {
    background-color: #d0d0d0;
    cursor: move;
}

/* Dragging styles */
.dragging {
    opacity: 0.5;
}

.drag-over {
    border: 2px dashed #000;
}

.drag-left-border {
    border-left: 2px dashed #000;
}

.drag-right-border {
    border-right: 2px dashed #000;
}

.drag-indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #1C5E82;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Custom Scrollbar */
#sidebar::-webkit-scrollbar, #scrollableTable::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#sidebar::-webkit-scrollbar-thumb, #scrollableTable::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 4px;
}

#sidebar::-webkit-scrollbar-thumb:hover, #scrollableTable::-webkit-scrollbar-thumb:hover {
    background-color: #808080;
}

#sidebar::-webkit-scrollbar-track, #scrollableTable::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 4px;
}
